Repository EllistonDow/saltgoat: changes, and which pre-commit hooks are due for each by the changed paths.
All: salt-syntax-check, saltgoat-review

salt-syntax-check:
  name: Salt Syntax Check
  entry: salt-call --local state.show_sls
  language: system
  pass_filenames: false
  args:
  - --out=null
  always_run: false

saltgoat-review:
  name: SaltGoat Code Review
  entry: ./scripts/salt-code-review.sh
  language: system
  pass_filenames: true
  args:
  - -c
  - -v
  always_run: false

chore: release v1.1.9 - 修改 7 个文件: README.md, docs/CHANGELOG.md, docs/MAGENTO_MAINTENANCE.md, salt/_modules/saltgoat.py, salt/pillar/magento-schedule.sls 等
  README.md
  docs/CHANGELOG.md
  docs/MAGENTO_MAINTENANCE.md
  salt/_modules/saltgoat.py
  salt/pillar/magento-schedule.sls
  salt/pillar/magento-schedule.sls.sample
  salt/states/optional/magento-schedule.sls
Due: salt-syntax-check, saltgoat-review

chore: release v1.1.10 - 修改 3 个文件: docs/CHANGELOG.md, modules/monitoring/resource_alert.py, monitoring/README.md
  docs/CHANGELOG.md
  modules/monitoring/resource_alert.py
  monitoring/README.md
Due: none

chore: release v1.1.11 - 修改 11 个文件: docs/CHANGELOG.md, docs/MAGENTO_MAINTENANCE.md, docs/SECRET_MANAGEMENT.md, lib/help.sh, modules/magetools/README.md 等
  docs/CHANGELOG.md
  docs/MAGENTO_MAINTENANCE.md
  docs/SECRET_MANAGEMENT.md
  lib/help.sh
  modules/magetools/README.md
  modules/magetools/__pycache__/magento_api_watch.cpython-312.pyc
  modules/magetools/magento_api_watch.py
  modules/magetools/magetools.sh
  modules/magetools/varnish.sh
  salt/states/optional/varnish.vcl
  tests/test_magento_api_watch.py
Due: saltgoat-review

chore: release v1.2.0 - 修改 7 个文件: core/install.sh, docs/MAGENTO_MAINTENANCE.md, modules/magetools/varnish.sh, salt/pillar/saltgoat.sls, salt/states/optional/varnish.sls 等
  core/install.sh
  docs/CHANGELOG.md
  docs/MAGENTO_MAINTENANCE.md
  modules/magetools/varnish.sh
  salt/pillar/saltgoat.sls
  salt/states/optional/varnish.sls
  salt/states/services/nginx/init.sls
  salt/states/services/nginx/map.jinja
Due: salt-syntax-check, saltgoat-review

chore: release v1.1.12 - 修改 1 个文件: modules/magetools/varnish.sh
  docs/CHANGELOG.md
  modules/magetools/varnish.sh
Due: saltgoat-review

chore: release v1.2.1 - 修改 2 个文件: modules/git/git.sh, saltgoat
  docs/CHANGELOG.md
  modules/git/git.sh
  saltgoat
Due: saltgoat-review

chore: release v1.2.2 - 修改 4 个文件: docs/MAGENTO_MAINTENANCE.md, lib/help.sh, modules/magetools/varnish.sh, salt/states/optional/varnish.vcl
  docs/CHANGELOG.md
  docs/MAGENTO_MAINTENANCE.md
  lib/help.sh
  modules/magetools/varnish.sh
  salt/states/optional/varnish.vcl
Due: saltgoat-review

chore: release v1.2.3 - 修改 13 个文件: .gitignore, README.md, docs/MAGENTO_PWA.md, lib/help.sh, modules/magetools/magetools.sh 等
  .gitignore
  README.md
  docs/CHANGELOG.md
  docs/MAGENTO_PWA.md
  lib/help.sh
  modules/magetools/magetools.sh
  modules/magetools/mysql-backup.sh
  modules/magetools/pwa-install.sh
  modules/magetools/varnish.sh
  salt/pillar/magento-pwa.sls.sample
  salt/pillar/nginx.sls
  salt/states/nginx/acme_helper.sls
  salt/states/services/nginx/files/site.conf.jinja
  services/nginx.sh
Due: salt-syntax-check, saltgoat-review

chore: release v1.2.5 - 修改 11 个文件: README.md, docs/CHANGELOG.md, docs/MAGENTO_PWA.md, docs/pwa-todo.md, lib/help.sh 等
  README.md
  docs/CHANGELOG.md
  docs/MAGENTO_PWA.md
  docs/pwa-todo.md
  lib/help.sh
  modules/magetools/magetools.sh
  modules/pwa/install.sh
  modules/pwa/overrides/productDetailFragment.gql.js
  modules/pwa/overrides/useProductFullDetail.js
  modules/pwa/pwa.sh
  saltgoat
Due: saltgoat-review

chore: release v1.2.7 - 修改 11 个文件: README.md, docs/PWA_PROJECT_GUIDE.md, docs/pwa-todo.md, modules/pwa/install.sh, modules/pwa/overrides/packages/venia-concept/local-intercept.js 等
  README.md
  docs/CHANGELOG.md
  docs/PWA_PROJECT_GUIDE.md
  docs/pwa-todo.md
  modules/pwa/install.sh
  modules/pwa/overrides/packages/venia-concept/local-intercept.js
  modules/pwa/pwa.sh
  modules/pwa/templates/cms/pwa_home.html
  modules/pwa/workspaces/saltgoat-venia-extension/package.json
  modules/pwa/workspaces/saltgoat-venia-extension/src/components/HomeContent/index.js
  modules/pwa/workspaces/saltgoat-venia-extension/src/index.js
  salt/pillar/magento-pwa.sls.sample
Due: saltgoat-review

chore: release v1.2.8 - 修改 4 个文件: docs/PWA_PROJECT_GUIDE.md, docs/pwa-todo.md, modules/pwa/install.sh, modules/pwa/workspaces/saltgoat-venia-extension/src/components/HomeContent/index.js
  docs/CHANGELOG.md
  docs/PWA_PROJECT_GUIDE.md
  docs/pwa-todo.md
  modules/pwa/install.sh
  modules/pwa/workspaces/saltgoat-venia-extension/src/components/HomeContent/index.js
Due: saltgoat-review

chore: release v1.2.10 - 修改 3 个文件: modules/monitoring/resource_alert.py, salt/states/core/php-fpm-pools.sls, salt/states/optional/magento-optimization.sls
  docs/CHANGELOG.md
  modules/monitoring/resource_alert.py
  salt/states/core/php-fpm-pools.sls
  salt/states/optional/magento-optimization.sls
Due: salt-syntax-check, saltgoat-review

chore: release v1.3.1 - 修改 4 个文件: core/install.sh, modules/magetools/magento-schedule.py, modules/monitoring/resource_alert.py, monitoring/README.md
  core/install.sh
  docs/CHANGELOG.md
  modules/magetools/magento-schedule.py
  modules/monitoring/resource_alert.py
  monitoring/README.md
Due: saltgoat-review

chore: release v1.3.2 - 修改 10 个文件: core/install.sh, lib/help.sh, modules/magetools/magento-schedule.py, modules/monitoring/resource_alert.py, monitoring/README.md 等
  core/install.sh
  docs/CHANGELOG.md
  lib/help.sh
  modules/magetools/magento-schedule.py
  modules/monitoring/resource_alert.py
  monitoring/README.md
  monitoring/system.sh
  salt/_modules/saltgoat.py
  salt/pillar/monitoring.sls.sample
  salt/states/optional/magento-schedule.sls
  saltgoat
Due: salt-syntax-check, saltgoat-review

chore: release v1.3.7 - 修改 8 个文件: core/install.sh, docs/TELEGRAM_TOPICS.md, modules/monitoring/resource_alert.py, monitoring/README.md, monitoring/system.sh 等
  core/install.sh
  docs/CHANGELOG.md
  docs/TELEGRAM_TOPICS.md
  modules/monitoring/resource_alert.py
  monitoring/README.md
  monitoring/system.sh
  salt/pillar/telegram-topics.sls
  salt/pillar/top.sls
  scripts/setup-telegram-topics.py
Due: salt-syntax-check, saltgoat-review

chore: release v1.3.9 - 修改 14 个文件: .github/workflows/code-review.yml, AGENTS.md, README.md, docs/BACKUP_RESTIC.md, docs/MAGENTO_MAINTENANCE.md 等
  .github/workflows/code-review.yml
  AGENTS.md
  README.md
  docs/BACKUP_RESTIC.md
  docs/CHANGELOG.md
  docs/MAGENTO_MAINTENANCE.md
  docs/MONITORING_PLAYBOOK.md
  docs/MYSQL_BACKUP.md
  docs/POSTFIX_SMTP.md
  docs/PWA_PROJECT_GUIDE.md
  docs/TELEGRAM_TOPICS.md
  modules/lib/notification.py
  scripts/check-docs.py
  scripts/code-review.sh
  scripts/salt-code-review.sh
Due: saltgoat-review

chore: release v1.3.10 - 修改 14 个文件: README.md, docs/TELEGRAM_TOPICS.md, docs/magento-multisite-plan.md, modules/lib/__pycache__/notification.cpython-312.pyc, modules/magetools/README.md 等
  README.md
  docs/CHANGELOG.md
  docs/TELEGRAM_TOPICS.md
  docs/magento-multisite-plan.md
  modules/lib/__pycache__/notification.cpython-312.pyc
  modules/magetools/README.md
  modules/magetools/backup-restic.sh
  modules/magetools/magetools.sh
  modules/magetools/multisite.sh
  modules/magetools/mysql-backup.sh
  monitoring/system.sh
  salt/pillar/nginx.sls
  tests/test_backup_notifications.sh
  tests/test_monitor_auto_sites.sh
  tests/test_notification_filters.py
Due: salt-syntax-check, saltgoat-review

chore: release v1.3.11 - 修改 10 个文件: docs/magento-multisite-plan.md, modules/magetools/README.md, modules/magetools/backup-restic.sh, modules/magetools/multisite.sh, modules/magetools/mysql-backup.sh 等
  docs/CHANGELOG.md
  docs/magento-multisite-plan.md
  modules/magetools/README.md
  modules/magetools/backup-restic.sh
  modules/magetools/multisite.sh
  modules/magetools/mysql-backup.sh
  modules/magetools/rabbitmq-salt.sh
  modules/magetools/varnish.sh
  salt/pillar/monitoring.sls
  salt/pillar/nginx.sls
  salt/states/services/nginx/files/site.conf.jinja
Due: salt-syntax-check, saltgoat-review

chore: release v1.3.12 - 修改 2 个文件: salt/pillar/monitoring.sls, salt/pillar/nginx.sls
  docs/CHANGELOG.md
  salt/pillar/monitoring.sls
  salt/pillar/nginx.sls
Due: salt-syntax-check, saltgoat-review

chore: release v1.3.13 - 修改 1 个文件: modules/magetools/varnish.sh
  docs/CHANGELOG.md
  modules/magetools/varnish.sh
Due: saltgoat-review

chore: release v1.3.14 - 修改 1 个文件: modules/magetools/varnish.sh
  docs/CHANGELOG.md
  modules/magetools/varnish.sh
Due: saltgoat-review

chore: release v1.3.15 - 修改 1 个文件: modules/magetools/varnish.sh
  docs/CHANGELOG.md
  modules/magetools/varnish.sh
Due: saltgoat-review

chore: release v1.3.16 - 修改 10 个文件: lib/help.sh, modules/__init__.py, modules/__pycache__/__init__.cpython-312.pyc, modules/magetools/README.md, modules/magetools/__init__.py 等
  docs/CHANGELOG.md
  lib/help.sh
  modules/__init__.py
  modules/__pycache__/__init__.cpython-312.pyc
  modules/magetools/README.md
  modules/magetools/__init__.py
  modules/magetools/__pycache__/__init__.cpython-312.pyc
  modules/magetools/magetools.sh
  scripts/reset-theme.sh
  tests/__init__.py
  tests/test_backup_notifications.sh
Due: saltgoat-review

chore: release v1.3.17 - 修改 4 个文件: modules/lib/__pycache__/__init__.cpython-312.pyc, modules/lib/backup_notifications.py, modules/magetools/varnish.sh, tests/test_backup_notifications.sh
  docs/CHANGELOG.md
  modules/lib/__pycache__/__init__.cpython-312.pyc
  modules/lib/backup_notifications.py
  modules/magetools/varnish.sh
  tests/test_backup_notifications.sh
Due: saltgoat-review

chore: release v1.4.1 - 修改 40 个文件: README.md, docs/CHANGELOG.md, docs/OPS_TOOLING.md, lib/help.sh, modules/analyse/analyse.sh 等
  README.md
  docs/CHANGELOG.md
  docs/OPS_TOOLING.md
  lib/help.sh
  modules/analyse/analyse.sh
  modules/lib/__pycache__/analyse_helper.cpython-312.pyc
  modules/lib/__pycache__/pwa_helpers.cpython-312.pyc
  modules/lib/analyse_helper.py
  modules/lib/doctor.py
  modules/lib/mysql_salt_helper.py
  modules/lib/nginx_context.py
  modules/lib/pwa_helpers.py
  modules/lib/rabbitmq_helper.py
  modules/magetools/mysql-manage.sh
  modules/magetools/rabbitmq-salt.sh
  modules/magetools/varnish.sh
  modules/monitoring/resource_alert.py
  modules/pwa/install.sh
  saltgoat
  scripts/__pycache__/goat_pulse.cpython-312.pyc
  scripts/doctor.sh
  scripts/gitops-watch.sh
  scripts/goat_pulse.py
  scripts/verify.sh
  services/nginx.sh
  tests/__pycache__/test_analyse_helper.cpython-312.pyc
  tests/__pycache__/test_doctor_cli.cpython-312.pyc
  tests/__pycache__/test_doctor_helper.cpython-312.pyc
  tests/__pycache__/test_goat_pulse.cpython-312.pyc
  tests/__pycache__/test_magento_api_watch.cpython-312.pyc
  tests/__pycache__/test_magento_summary.cpython-312.pyc
  tests/__pycache__/test_mysql_salt_helper.cpython-312.pyc
  tests/__pycache__/test_notification_filters.cpython-312.pyc
  tests/__pycache__/test_pwa_helpers.cpython-312.pyc
  tests/test_analyse_helper.py
  tests/test_doctor_cli.py
  tests/test_goat_pulse.py
  tests/test_mysql_salt_helper.py
  tests/test_notification_filters.py
  tests/test_pwa_helpers.py
Due: saltgoat-review

chore: release v1.4.2 - 修改 29 个文件: README.md, docs/CHANGELOG.md, docs/OPS_TOOLING.md, lib/help.sh, modules/lib/__pycache__/notification.cpython-312.pyc 等
  README.md
  docs/CHANGELOG.md
  docs/OPS_TOOLING.md
  lib/help.sh
  modules/lib/__pycache__/notification.cpython-312.pyc
  modules/lib/backup_notify.py
  modules/lib/monitor_auto_sites.py
  modules/lib/nginx_context.py
  modules/lib/notification.py
  modules/magetools/__pycache__/magento_api_watch.cpython-312.pyc
  modules/magetools/__pycache__/magento_summary.cpython-312.pyc
  modules/magetools/magento_api_watch.py
  modules/magetools/magento_summary.py
  modules/magetools/varnish.sh
  modules/monitoring/daily_summary.py
  modules/monitoring/resource_alert.py
  salt/pillar/nginx.sls
  salt/pillar/notifications.sls
  salt/states/core/php-fpm-pools.sls
  salt/states/core/php-fpm.conf
  salt/states/core/php.sls
  salt/states/optional/goat-pulse.sls
  salt/states/templates/reactor_common.py.jinja
  saltgoat
  scripts/smoke-suite.sh
  tests/__pycache__/test_nginx_context.cpython-312.pyc
  tests/__pycache__/test_notification_filters.cpython-312.pyc
  tests/test_nginx_context.py
  tests/test_notification_filters.py
Due: salt-syntax-check, saltgoat-review

chore: release v1.4.5 - 修改 5 个文件: salt/pillar/telegram-topics.sls, scripts/__pycache__/goat_pulse.cpython-312.pyc, scripts/goat_pulse.py, scripts/setup-telegram-topics.py, scripts/smoke-suite.sh
  docs/CHANGELOG.md
  salt/pillar/telegram-topics.sls
  scripts/__pycache__/goat_pulse.cpython-312.pyc
  scripts/goat_pulse.py
  scripts/setup-telegram-topics.py
  scripts/smoke-suite.sh
Due: salt-syntax-check, saltgoat-review

chore: release v1.4.6 - 修改 22 个文件: README.md, docs/OPS_TOOLING.md, modules/lib/__pycache__/notification.cpython-312.pyc, modules/lib/backup_notify.py, modules/lib/gitops.py 等
  README.md
  docs/CHANGELOG.md
  docs/OPS_TOOLING.md
  modules/lib/__pycache__/notification.cpython-312.pyc
  modules/lib/backup_notify.py
  modules/lib/gitops.py
  modules/lib/notification.py
  modules/magetools/__pycache__/magento_api_watch.cpython-312.pyc
  modules/magetools/magento_api_watch.py
  modules/magetools/varnish.sh
  modules/monitoring/daily_summary.py
  modules/monitoring/resource_alert.py
  salt/states/core/php-fpm-pools.sls
  salt/states/reactor/backup_notification.sls
  salt/states/templates/restic-backup.sh.jinja
  salt/states/templates/security/fail2ban_watch.py
  scripts/__pycache__/goat_pulse.cpython-312.pyc
  scripts/gitops-watch.sh
  scripts/goat_pulse.py
  tests/__pycache__/test_gitops.cpython-312.pyc
  tests/__pycache__/test_notification_queue.cpython-312.pyc
  tests/test_gitops.py
  tests/test_notification_queue.py
Due: salt-syntax-check, saltgoat-review

chore: clean python bytecode artifacts
  .gitignore
  modules/__pycache__/__init__.cpython-312.pyc
  modules/git/git.sh
  modules/lib/__pycache__/__init__.cpython-312.pyc
  modules/lib/__pycache__/analyse_helper.cpython-312.pyc
  modules/lib/__pycache__/automation_helpers.cpython-312.pyc
  modules/lib/__pycache__/maintenance_pillar.cpython-312.pyc
  modules/lib/__pycache__/monitor_auto_sites.cpython-312.pyc
  modules/lib/__pycache__/monitoring_sites.cpython-312.pyc
  modules/lib/__pycache__/nginx_context.cpython-312.pyc
  modules/lib/__pycache__/notification.cpython-312.pyc
  modules/lib/__pycache__/pwa_helpers.cpython-312.pyc
  modules/lib/__pycache__/salt_event.cpython-312.pyc
  modules/magetools/__pycache__/__init__.cpython-312.pyc
  modules/magetools/__pycache__/magento-schedule.cpython-312.pyc
  modules/magetools/__pycache__/magento_api_watch.cpython-312.pyc
  modules/magetools/__pycache__/magento_summary.cpython-312.pyc
  modules/monitoring/__pycache__/resource_alert.cpython-312.pyc
  salt/_modules/__pycache__/saltgoat.cpython-312.pyc
  scripts/__pycache__/goat_pulse.cpython-312.pyc
  tests/__pycache__/__init__.cpython-312.pyc
  tests/__pycache__/test_analyse_helper.cpython-312.pyc
  tests/__pycache__/test_automation_helpers.cpython-312.pyc
  tests/__pycache__/test_backup_notify_cli.cpython-312.pyc
  tests/__pycache__/test_doctor_cli.cpython-312.pyc
  tests/__pycache__/test_doctor_helper.cpython-312.pyc
  tests/__pycache__/test_gitops.cpython-312.pyc
  tests/__pycache__/test_goat_pulse.cpython-312.pyc
  tests/__pycache__/test_magento_api_watch.cpython-312.pyc
  tests/__pycache__/test_magento_summary.cpython-312.pyc
  tests/__pycache__/test_maintenance_pillar.cpython-312.pyc
  tests/__pycache__/test_monitor_auto_sites.cpython-312.pyc
  tests/__pycache__/test_monitoring_sites.cpython-312.pyc
  tests/__pycache__/test_mysql_salt_helper.cpython-312.pyc
  tests/__pycache__/test_nginx_context.cpython-312.pyc
  tests/__pycache__/test_notification_filters.cpython-312.pyc
  tests/__pycache__/test_notification_queue.cpython-312.pyc
  tests/__pycache__/test_pwa_helpers.cpython-312.pyc
  tests/__pycache__/test_restic_helpers.cpython-312.pyc
  tests/__pycache__/test_salt_event_helper.cpython-312.pyc
Due: saltgoat-review

chore: release v1.4.7 - 修改 17 个文件: README.md, docs/OPS_TOOLING.md, lib/help.sh, modules/analyse/analyse.sh, modules/automation/automation.sh 等
  README.md
  docs/CHANGELOG.md
  docs/OPS_TOOLING.md
  lib/help.sh
  modules/analyse/analyse.sh
  modules/automation/automation.sh
  modules/lib/analyse_helper.py
  modules/lib/automation_helpers.py
  modules/lib/nginx_context.py
  modules/lib/pwa_helpers.py
  modules/magetools/rabbitmq-salt.sh
  modules/magetools/varnish.sh
  modules/pwa/install.sh
  saltgoat
  services/nginx.sh
  tests/test_analyse_helper.py
  tests/test_automation_helpers.py
  tests/test_notification_queue.py
Due: saltgoat-review

chore: release v1.4.8 - 修改 13 个文件: docs/ROADMAP_OBJECT_STORAGE.md, modules/lib/minio_helper.py, modules/lib/nginx_pillar.py, modules/minio/minio.sh, salt/pillar/minio.sls.sample 等
  docs/CHANGELOG.md
  docs/ROADMAP_OBJECT_STORAGE.md
  modules/lib/minio_helper.py
  modules/lib/nginx_pillar.py
  modules/minio/minio.sh
  salt/pillar/minio.sls.sample
  salt/states/optional/minio/config.sls
  salt/states/optional/minio/init.sls
  salt/states/optional/minio/install.sls
  salt/states/optional/minio/service.sls
  tests/test_minio_helper.py
  tests/test_minio_sample.py
  tests/test_nginx_pillar.py
  tests/test_pwa_patches.py
Due: salt-syntax-check, saltgoat-review

chore: release v1.4.9 - 修改 8 个文件: modules/lib/minio_helper.py, modules/monitoring/resource_alert.py, salt/pillar/minio.sls.sample, scripts/goat_pulse.py, scripts/setup-telegram-topics.py 等
  docs/CHANGELOG.md
  modules/lib/minio_helper.py
  modules/monitoring/resource_alert.py
  salt/pillar/minio.sls.sample
  scripts/goat_pulse.py
  scripts/setup-telegram-topics.py
  tests/test_goat_pulse.py
  tests/test_minio_helper.py
  tests/test_minio_sample.py
Due: none

chore: release v1.4.10 - 修改 24 个文件: README.md, docs/OPS_TOOLING.md, lib/help.sh, modules/lib/minio_helper.py, modules/minio/minio.sh 等
  README.md
  docs/CHANGELOG.md
  docs/OPS_TOOLING.md
  lib/help.sh
  modules/lib/minio_helper.py
  modules/minio/minio.sh
  modules/proxy/proxy.sh
  modules/services/services.sh
  salt/pillar/docker.sls
  salt/pillar/docker.sls.sample
  salt/pillar/minio.sls.sample
  salt/pillar/top.sls
  salt/states/optional/docker-npm.sls
  salt/states/optional/docker/compose.sls
  salt/states/optional/docker/init.sls
  salt/states/optional/docker/install.sls
  salt/states/optional/docker/npm/deploy.sls
  salt/states/optional/docker/npm/docker-compose.yml.jinja
  salt/states/optional/docker/npm/init.sls
  salt/states/optional/minio/init.sls
  salt/states/optional/minio/minio-nginx.conf.jinja
  salt/states/optional/minio/proxy.sls
  saltgoat
  scripts/services_overview.py
  tests/test_minio_helper.py
Due: salt-syntax-check, saltgoat-review

chore: release v1.5.0 - 修改 6 个文件: docs/ROADMAP_OBJECT_STORAGE.md, modules/mattermost/mattermost.sh, modules/minio/minio.sh, modules/traefik/traefik.sh, modules/uptime-kuma/uptime-kuma.sh 等
  docs/CHANGELOG.md
  docs/ROADMAP_OBJECT_STORAGE.md
  modules/mattermost/mattermost.sh
  modules/minio/minio.sh
  modules/traefik/traefik.sh
  modules/uptime-kuma/uptime-kuma.sh
  salt/states/optional/docker/install.sls
Due: salt-syntax-check, saltgoat-review

chore: release v1.5.1 - 修改 23 个文件: README.md, docs/MONITORING_PLAYBOOK.md, docs/OPS_TOOLING.md, modules/lib/mastodon_helper.py, modules/lib/notification.py 等
  README.md
  docs/CHANGELOG.md
  docs/MONITORING_PLAYBOOK.md
  docs/OPS_TOOLING.md
  modules/lib/mastodon_helper.py
  modules/lib/notification.py
  modules/magetools/magento_summary.py
  modules/mastodon/mastodon.sh
  modules/monitoring/daily_summary.py
  salt/pillar/docker.sls
  salt/pillar/mastodon.sls
  salt/pillar/mastodon.sls.sample
  salt/pillar/nginx.sls
  salt/pillar/top.sls
  salt/states/core/sysctl.sls
  salt/states/optional/docker/traefik/traefik.yml.jinja
  salt/states/optional/mastodon/deploy.sls
  salt/states/optional/mastodon/init.sls
  salt/states/templates/mastodon/docker-compose.yml.jinja
  salt/states/templates/mastodon/env.production.jinja
  salt/states/templates/mastodon/generate-secrets.sh.jinja
  salt/top.sls
  saltgoat
  tests/test_mastodon_helper.py
Due: salt-syntax-check, saltgoat-review

chore: release v1.5.2 - --help
  README.md
  docs/BACKUP_RESTIC.md
  docs/INSTALL.md
  docs/MAGENTO_MAINTENANCE.md
  docs/MAGENTO_PERMISSIONS.md
  docs/MAGENTO_PWA.md
  docs/MANAGEMENT_PANELS_SUMMARY.md
  docs/MONITORING_PLAYBOOK.md
  docs/MYSQL_BACKUP.md
  docs/OPS_TOOLING.md
  docs/POSTFIX_SMTP.md
  docs/PWA_PROJECT_GUIDE.md
  docs/ROADMAP_OBJECT_STORAGE.md
  docs/SECRET_MANAGEMENT.md
  docs/TELEGRAM_TOPICS.md
  docs/TODO-magento-optimization.md
  docs/changelog.md
  docs/pwa-todo.md
  lib/help.sh
  modules/git/git.sh
  modules/git/help.sh
  modules/magetools/README.md
  modules/magetools/rabbitmq.sh
  modules/pwa/install.sh
  tests/test_git_release.sh
  todo/pwa.md
Due: saltgoat-review

chore: release v1.5.3 - 修改 3 个文件: README.md, modules/monitoring/resource_alert.py, salt/states/optional/magento-optimization.sls
  README.md
  docs/changelog.md
  modules/monitoring/resource_alert.py
  salt/states/optional/magento-optimization.sls
Due: salt-syntax-check, saltgoat-review

chore: release v1.5.4 - 修改 3 个文件: modules/magetools/magento_summary.py, salt/pillar/notifications.sls, scripts/goat_pulse.py
  docs/changelog.md
  modules/magetools/magento_summary.py
  salt/pillar/notifications.sls
  scripts/goat_pulse.py
Due: salt-syntax-check, saltgoat-review

Path conditions:
  salt-syntax-check: any of: \.sls$
  saltgoat-review: any of: \.(sh|sls|yml|yaml)$
