Repository EllistonDow/saltgoat: changes, and which pre-commit hooks are due for each by the changed paths.
All: salt-syntax-check, saltgoat-review

salt-syntax-check:
  name: Salt Syntax Check
  entry: salt-call --local state.show_sls
  language: system
  pass_filenames: false
  args:
  - --out=null
  always_run: false

saltgoat-review:
  name: SaltGoat Code Review
  entry: ./scripts/salt-code-review.sh
  language: system
  pass_filenames: true
  args:
  - -c
  - -v
  always_run: false

feat: Nginx 管理功能完善和 Magento 2 转换优化
  docs/CHANGELOG.md
  lib/help.sh
  modules/magetools/magetools.sh
  saltgoat
  services/nginx.sh
Due: saltgoat-review

v0.9.4: 重构 CSP 管理系统为 Salt 原生方式
  docs/CHANGELOG.md
  lib/help.sh
  modules/magetools/valkey-renew.sh
  modules/security/csp-salt.sh
  salt/states/optional/csp-config.sls
  saltgoat
  services/nginx.sh
Due: salt-syntax-check, saltgoat-review

fix: 修复 PHP 优化配置问题
  salt/states/optional/magento-optimization.sls
  salt/states/optional/php-magento.ini
Due: salt-syntax-check, saltgoat-review

chore: release v0.9.7
  README.md
  docs/CHANGELOG.md
  modules/magetools/README.md
  salt/states/optional/magento-valkey-check.sls
  salt/states/optional/magento-valkey.sls
  saltgoat
Due: salt-syntax-check, saltgoat-review

v0.9.9: release
  docs/CHANGELOG.md
  docs/INSTALL.md
  lib/help.sh
  salt/states/optional/magento-optimization.sls
  saltgoat
Due: salt-syntax-check, saltgoat-review

feat: auto-detect magento site
  core/optimize.sh
  docs/CHANGELOG.md
  docs/TODO-magento-optimization.md
  salt/pillar/magento-optimize.sls
  salt/states/optional/magento-optimization.sls
Due: salt-syntax-check, saltgoat-review

chore: stabilize ci workflows
  .github/workflows/code-review.yml
  README.md
  docs/INSTALL.md
  tests/test_magento_optimization.sh
Due: saltgoat-review

feat: add salt service helpers for magento
  .github/copilot-instructions.md
  AGENTS.md
  modules/magetools/rabbitmq-salt.sh
  modules/magetools/valkey-check.sh
  modules/magetools/valkey-setup.sh
  salt/pillar/magento-valkey.sls
  salt/pillar/nginx.sls
  salt/states/optional/magento-rabbitmq-check.sls
  salt/states/optional/magento-rabbitmq.sls
  salt/states/services/nginx/files/nginx.conf.jinja
  salt/states/services/nginx/files/site.conf.jinja
  salt/states/services/nginx/init.sls
  salt/states/services/nginx/map.jinja
  scripts/fix-magento-base-url.sh
  scripts/quick-fix-base-url.sh
Due: salt-syntax-check, saltgoat-review

feat: migrate config management to pillar
  core/install.sh
  core/system.sh
  env.example
  lib/env.sh
  lib/utils.sh
  modules/diagnose/diagnose.sh
  modules/magetools/README.md
  modules/magetools/magento-maintenance.sh
  modules/magetools/magetools.sh
  modules/magetools/valkey-renew.sh
  modules/maintenance/backup.sh
  modules/optimization/README.md
  salt/pillar/top.sls
  salt/states/core/default-site.conf
  salt/states/core/nginx.conf
  salt/states/core/nginx.sls
  salt/states/optional/certbot.sls
  salt/states/optional/modsecurity.sls
  salt/states/optional/nginx-magento.conf
  salt/states/optional/opensearch-jvm.options
  salt/states/optional/phpmyadmin.sls
  salt/states/optional/varnish.sls
  scripts/sync-passwords.sh
  scripts/test-git-clone-consistency.sh
  services/nginx.sh
  services/saltgui.sh
  services/state.sh
  tests/consistency-test.sh
Due: salt-syntax-check, saltgoat-review

docs: expand v0.9.9 changelog
  docs/CHANGELOG.md
Due: none

chore: release v0.9.12 - 修改 2 个文件: docs/CHANGELOG.md, saltgoat
  docs/CHANGELOG.md
  saltgoat
Due: none

chore: release v0.9.12 - 修改 1 个文件: modules/magetools/magetools.sh
  docs/CHANGELOG.md
  modules/magetools/magetools.sh
Due: saltgoat-review

chore: release v0.9.13 - 修改 1 个文件: modules/git/git.sh
  docs/CHANGELOG.md
  modules/git/git.sh
Due: saltgoat-review

chore: release v0.9.14 - 修改 8 个文件: docs/CHANGELOG.md, lib/help.sh, lib/logger.sh, modules/analyse/analyse.sh, salt/pillar/saltgoat.sls 等
  docs/CHANGELOG.md
  lib/help.sh
  lib/logger.sh
  modules/analyse/analyse.sh
  salt/pillar/saltgoat.sls
  salt/states/optional/analyse/README
  salt/states/optional/analyse/init.sls
  saltgoat
Due: salt-syntax-check, saltgoat-review

chore: release v0.9.15 - 修改 18 个文件: README.md, docs/CHANGELOG.md, docs/INSTALL.md, modules/analyse/analyse.sh, modules/git/git.sh 等
  README.md
  docs/CHANGELOG.md
  docs/INSTALL.md
  modules/analyse/analyse.sh
  modules/git/git.sh
  modules/git/help.sh
  modules/magetools/cache-index.sh
  modules/magetools/convert.sh
  modules/magetools/deploy-maintenance.sh
  modules/magetools/install-tools.sh
  modules/magetools/magetools.sh
  modules/magetools/permissions.sh
  modules/magetools/rabbitmq-status.sh
  modules/magetools/templates.sh
  salt/states/optional/analyse/init.sls
  tests/test_analyse_state.sh
  tests/test_git_release.sh
  tests/test_salt_versions.sh
Due: salt-syntax-check, saltgoat-review

chore: release v0.9.17 - 修改 2 个文件: salt/pillar/nginx.sls, services/nginx.sh
  docs/CHANGELOG.md
  salt/pillar/nginx.sls
  services/nginx.sh
Due: salt-syntax-check, saltgoat-review

chore: release v1.0.0 - 修改 7 个文件: docs/CHANGELOG.md, lib/help.sh, modules/git/git.sh, salt/pillar/nginx.sls, salt/states/optional/certbot.sls 等
  docs/CHANGELOG.md
  lib/help.sh
  modules/git/git.sh
  salt/pillar/nginx.sls
  salt/states/optional/certbot.sls
  salt/states/services/nginx/files/site.conf.jinja
  services/nginx.sh
Due: salt-syntax-check, saltgoat-review

chore: release v1.0.1 - 修改 9 个文件: bank, modules/magetools/README.md, modules/magetools/rabbitmq-salt.sh, modules/magetools/rabbitmq.sh, salt/states/optional/magento-rabbitmq-check.sls 等
  bank
  docs/CHANGELOG.md
  modules/magetools/README.md
  modules/magetools/rabbitmq-salt.sh
  modules/magetools/rabbitmq.sh
  salt/states/optional/magento-rabbitmq-check.sls
  salt/states/optional/magento-rabbitmq-list.sls
  salt/states/optional/magento-rabbitmq-remove.sls
  salt/states/optional/magento-rabbitmq.sls
  salt/states/optional/magento-valkey.sls
Due: salt-syntax-check, saltgoat-review

chore: release v1.0.3 - 修改 16 个文件: docs/MAGENTO_PERMISSIONS.md, docs/MYSQL_BACKUP.md, lib/help.sh, modules/git/help.sh, modules/magetools/README.md 等
  docs/CHANGELOG.md
  docs/MAGENTO_PERMISSIONS.md
  docs/MYSQL_BACKUP.md
  lib/help.sh
  modules/git/help.sh
  modules/magetools/README.md
  modules/magetools/magetools.sh
  modules/magetools/mysql-backup.sh
  modules/magetools/mysql-manage.sh
  modules/magetools/permissions.sh
  modules/magetools/rabbitmq-check.sh
  modules/magetools/templates.sh
  modules/optimization/optimize.sh
  modules/version-lock/version-lock.sh
  salt/states/optional/mysql-backup.sls
  scripts/quick-fix-base-url.sh
  tests/test_rabbitmq_check.sh
Due: salt-syntax-check, saltgoat-review

chore: release v1.0.4 - 修改 4 个文件: monitoring/system.sh, salt/pillar/magento-optimize.sls, salt/pillar/saltgoat.sls, saltgoat
  docs/CHANGELOG.md
  monitoring/system.sh
  salt/pillar/magento-optimize.sls
  salt/pillar/saltgoat.sls
  saltgoat
Due: salt-syntax-check, saltgoat-review

chore: release v1.0.5 - 修改 36 个文件: core/system.sh, docs/POSTFIX_SMTP.md, lib/help.sh, modules/git/git.sh, modules/magetools/backup-restic.sh 等
  core/system.sh
  docs/CHANGELOG.md
  docs/POSTFIX_SMTP.md
  lib/help.sh
  modules/git/git.sh
  modules/magetools/backup-restic.sh
  modules/magetools/mysql-manage.sh
  modules/maintenance/backup.sh
  monitoring/README.md
  monitoring/system.sh
  salt/pillar/lemp.sls
  salt/pillar/nginx.sls
  salt/pillar/salt-beacons.sls
  salt/pillar/saltgoat.sls
  salt/states/optional/backup-restic.sls
  salt/states/optional/mysql-backup.sls
  salt/states/optional/postfix.sls
  salt/states/optional/reactor-files.sls
  salt/states/optional/salt-beacons.sls
  salt/states/optional/salt-reactor.sls
  salt/states/reactor/backup_notification.sls
  salt/states/reactor/config_change.sls
  salt/states/reactor/package_update.sls
  salt/states/reactor/resource_alert.sls
  salt/states/reactor/service_autoheal.sls
  salt/states/services/postfix/init.sls
  salt/states/services/postfix/main.cf.jinja
  salt/states/services/postfix/map.jinja
  salt/states/templates/beacons.conf.jinja
  salt/states/templates/mysql-backup.sh.jinja
  salt/states/templates/reactor_common.py.jinja
  salt/states/templates/reactor_logger.py.jinja
  salt/states/templates/restic-backup.sh.jinja
  salt/states/templates/telegram_config.json.jinja
  salt/states/templates/telegram_dispatch.py.jinja
  salt/states/templates/telegram_minimal.py.jinja
  saltgoat
Due: salt-syntax-check, saltgoat-review

chore: release v1.0.6 - 修改 3 个文件: modules/magetools/README.md, modules/magetools/mysql-backup.sh, salt/states/reactor/backup_notification.sls
  docs/CHANGELOG.md
  modules/magetools/README.md
  modules/magetools/mysql-backup.sh
  salt/states/reactor/backup_notification.sls
Due: salt-syntax-check, saltgoat-review

chore: release v1.0.8 - 修改 1 个文件: saltgoat
  docs/CHANGELOG.md
  saltgoat
Due: none

chore: release v1.0.9 - 修改 5 个文件: modules/git/git.sh, saltgoat, scripts/release.sh, tests/consistency-test.sh, tests/test_git_release.sh
  docs/CHANGELOG.md
  modules/git/git.sh
  saltgoat
  scripts/release.sh
  tests/consistency-test.sh
  tests/test_git_release.sh
Due: saltgoat-review

chore: release v1.0.10 - 修改 17 个文件: .gitignore, docs/BACKUP_RESTIC.md, docs/MYSQL_BACKUP.md, docs/POSTFIX_SMTP.md, lib/utils.sh 等
  .gitignore
  docs/BACKUP_RESTIC.md
  docs/CHANGELOG.md
  docs/MYSQL_BACKUP.md
  docs/POSTFIX_SMTP.md
  lib/utils.sh
  salt/pillar/backup-restic.sls
  salt/pillar/lemp.sls
  salt/pillar/magento-valkey.sls
  salt/pillar/mysql-backup.sls
  salt/pillar/salt-beacons.sls
  salt/pillar/saltgoat.sls
  salt/pillar/secret/.gitkeep
  salt/pillar/secret/README.md
  salt/pillar/secret/auth.sls.example
  salt/pillar/secret/restic.sls.example
  salt/pillar/secret/smtp.sls.example
  salt/pillar/top.sls
Due: salt-syntax-check, saltgoat-review

chore: release v1.0.11 - 修改 6 个文件: README.md, docs/BACKUP_RESTIC.md, docs/MYSQL_BACKUP.md, docs/POSTFIX_SMTP.md, docs/SECRET_MANAGEMENT.md 等
  README.md
  docs/BACKUP_RESTIC.md
  docs/CHANGELOG.md
  docs/MYSQL_BACKUP.md
  docs/POSTFIX_SMTP.md
  docs/SECRET_MANAGEMENT.md
  salt/pillar/secret/README.md
Due: none

chore: release v1.0.12 - 修改 4 个文件: docs/MYSQL_BACKUP.md, modules/magetools/magento-cron.sh, salt/pillar/magento-optimize.sls, salt/pillar/top.sls
  docs/CHANGELOG.md
  docs/MYSQL_BACKUP.md
  modules/magetools/magento-cron.sh
  salt/pillar/magento-optimize.sls
  salt/pillar/top.sls
Due: salt-syntax-check, saltgoat-review

chore: release v1.0.13 - 修改 6 个文件: docs/BACKUP_RESTIC.md, docs/MAGENTO_MAINTENANCE.md, docs/MYSQL_BACKUP.md, salt/pillar/magento-optimize.sls, salt/pillar/magento-schedule.sls 等
  docs/BACKUP_RESTIC.md
  docs/CHANGELOG.md
  docs/MAGENTO_MAINTENANCE.md
  docs/MYSQL_BACKUP.md
  salt/pillar/magento-optimize.sls
  salt/pillar/magento-schedule.sls
  salt/pillar/top.sls
Due: salt-syntax-check, saltgoat-review

chore: release v1.1.0 - 修改 5 个文件: docs/MAGENTO_MAINTENANCE.md, docs/MYSQL_BACKUP.md, salt/_modules/saltgoat.py, salt/pillar/magento-schedule.sls, salt/states/optional/magento-schedule.sls
  docs/CHANGELOG.md
  docs/MAGENTO_MAINTENANCE.md
  docs/MYSQL_BACKUP.md
  salt/_modules/saltgoat.py
  salt/pillar/magento-schedule.sls
  salt/states/optional/magento-schedule.sls
Due: salt-syntax-check, saltgoat-review

chore: release v1.1.1 - 修改 15 个文件: README.md, docs/MAGENTO_MAINTENANCE.md, docs/MYSQL_BACKUP.md, salt/pillar/backup-restic.sls, salt/pillar/backup-restic.sls.sample 等
  README.md
  docs/CHANGELOG.md
  docs/MAGENTO_MAINTENANCE.md
  docs/MYSQL_BACKUP.md
  salt/pillar/backup-restic.sls
  salt/pillar/backup-restic.sls.sample
  salt/pillar/magento-optimize.sls
  salt/pillar/magento-optimize.sls.sample
  salt/pillar/magento-schedule.sls
  salt/pillar/magento-schedule.sls.sample
  salt/pillar/magento-valkey.sls
  salt/pillar/magento-valkey.sls.sample
  salt/pillar/mysql-backup.sls.sample
  salt/pillar/nginx.sls
  salt/pillar/nginx.sls.sample
  salt/pillar/saltgoat.sls
Due: salt-syntax-check, saltgoat-review

chore: release v1.1.2 - 修改 9 个文件: README.md, docs/BACKUP_RESTIC.md, docs/MAGENTO_MAINTENANCE.md, docs/MYSQL_BACKUP.md, modules/magetools/backup-restic.sh 等
  README.md
  docs/BACKUP_RESTIC.md
  docs/CHANGELOG.md
  docs/MAGENTO_MAINTENANCE.md
  docs/MYSQL_BACKUP.md
  modules/magetools/backup-restic.sh
  salt/pillar/backup-restic.sls
  salt/pillar/magento-schedule.sls
  salt/pillar/magento-schedule.sls.sample
  salt/pillar/secret/restic.sls.example
Due: salt-syntax-check, saltgoat-review

chore: release v1.1.3 - 修改 2 个文件: modules/magetools/backup-restic.sh, salt/states/templates/restic-backup.sh.jinja
  docs/CHANGELOG.md
  modules/magetools/backup-restic.sh
  salt/states/templates/restic-backup.sh.jinja
Due: saltgoat-review

chore: release v1.1.4 - 修改 1 个文件: docs/BACKUP_RESTIC.md
  docs/BACKUP_RESTIC.md
  docs/CHANGELOG.md
Due: none

chore: release v1.1.5 - 修改 1 个文件: todo/telegram_bot_todo.md
  docs/CHANGELOG.md
  todo/telegram_bot_todo.md
Due: none

chore: release v1.1.7 - 修改 34 个文件: README.md, docs/MAGENTO_MAINTENANCE.md, docs/SECRET_MANAGEMENT.md, docs/TELEGRAM_TOPICS.md, modules/magetools/backup-restic.sh 等
  README.md
  docs/CHANGELOG.md
  docs/MAGENTO_MAINTENANCE.md
  docs/SECRET_MANAGEMENT.md
  docs/TELEGRAM_TOPICS.md
  modules/magetools/backup-restic.sh
  modules/magetools/magento_api_watch.py
  modules/magetools/mysql-backup.sh
  modules/monitoring/daily_summary.py
  modules/monitoring/resource_alert.py
  monitoring/README.md
  monitoring/schedule.sh
  monitoring/system.sh
  salt/_modules/saltgoat.py
  salt/pillar/chatops.sls.sample
  salt/pillar/magento-schedule.sls
  salt/pillar/salt-beacons.sls
  salt/pillar/top.sls
  salt/states/optional/reactor-files.sls
  salt/states/optional/salt-beacons.sls
  salt/states/optional/salt-reactor.sls
  salt/states/reactor/backup_notification.sls
  salt/states/reactor/config_change.sls
  salt/states/reactor/resource_alert.sls
  salt/states/reactor/service_autoheal.sls
  salt/states/reactor/telegram_chatops.sls
  salt/states/templates/chatops_config.json.jinja
  salt/states/templates/reactor_common.py.jinja
  salt/states/templates/restic-backup.sh.jinja
  salt/states/templates/service_autoheal.py.jinja
  salt/states/templates/telegram_chatops.py.jinja
  salt/states/templates/telegram_config.json.jinja
  salt/states/templates/telegram_dispatch.py.jinja
  saltgoat
  todo/telegram_bot_todo.md
Due: salt-syntax-check, saltgoat-review

chore: release v1.1.8 - 修改 7 个文件: README.md, lib/help.sh, lib/utils.sh, modules/magetools/__pycache__/magento_api_watch.cpython-312.pyc, modules/magetools/magento_api_watch.py 等
  README.md
  docs/CHANGELOG.md
  lib/help.sh
  lib/utils.sh
  modules/magetools/__pycache__/magento_api_watch.cpython-312.pyc
  modules/magetools/magento_api_watch.py
  modules/magetools/magento_summary.py
  modules/magetools/magetools.sh
Due: saltgoat-review

chore: release v1.0.9 - 修改 27 个文件: AGENTS.md, README.md, docs/BACKUP_RESTIC.md, docs/CHANGELOG.md, docs/INSTALL.md 等
  AGENTS.md
  README.md
  docs/BACKUP_RESTIC.md
  docs/CHANGELOG.md
  docs/INSTALL.md
  docs/MAGENTO_MAINTENANCE.md
  docs/MANAGEMENT_PANELS_SUMMARY.md
  docs/MYSQL_BACKUP.md
  docs/POSTFIX_SMTP.md
  docs/SECRET_MANAGEMENT.md
  docs/TELEGRAM_TOPICS.md
  docs/TODO-magento-optimization.md
  modules/adminer/README.md
  modules/automation/README.md
  modules/cockpit/README.md
  modules/diagnose/README.md
  modules/magetools/README.md
  modules/maintenance/README.md
  modules/monitoring/README.md
  modules/optimization/README.md
  modules/profile/README.md
  modules/security/README.md
  modules/uptime-kuma/README.md
  modules/version-lock/README.md
  monitoring/README.md
  salt/pillar/secret/README.md
  templates/README.md
Due: none

Path conditions:
  salt-syntax-check: any of: \.sls$
  saltgoat-review: any of: \.(sh|sls|yml|yaml)$
