Repository EllistonDow/saltgoat: changes, and which pre-commit hooks are due for each by the changed paths.
All: salt-syntax-check, saltgoat-review

salt-syntax-check:
  name: Salt Syntax Check
  entry: salt-call --local state.show_sls
  language: system
  pass_filenames: false
  args:
  - --out=null
  always_run: false

saltgoat-review:
  name: SaltGoat Code Review
  entry: ./scripts/salt-code-review.sh
  language: system
  pass_filenames: true
  args:
  - -c
  - -v
  always_run: false

feat: auto install restic and xtrabackup
  README.md
  core/install.sh
  docs/changelog.md
  salt/states/core/restic.sls
Due: salt-syntax-check, saltgoat-review

feat: extend versions/status reporting
  saltgoat
Due: none

fix: clean xtrabackup version output
  saltgoat
Due: none

chore: release 1.8.3 bootstrap fixes
  README.md
  core/install.sh
  docs/changelog.md
  docs/install.md
  docs/secret-management.md
  salt/pillar/lemp.sls
  salt/states/core/salt-roots.sls
  salt/states/optional/salt-master.sls
  salt/states/optional/salt-reactor.sls
  salt/states/services/nginx/init.sls
  salt/states/services/nginx/map.jinja
  saltgoat
Due: salt-syntax-check, saltgoat-review

feat: add dropbox watchdog and beacon
  README.md
  core/install.sh
  docs/monitoring-playbook.md
  salt/pillar/monitoring.sls.sample
  salt/pillar/salt-beacons.sls.sample
  salt/pillar/secret/dropbox.sls.example
  salt/pillar/top.sls
  salt/states/optional/dropbox.sls
  salt/states/optional/dropbox/dropbox.service.jinja
Due: salt-syntax-check, saltgoat-review

fix: ensure mysql python clients
  README.md
  core/install.sh
  docs/changelog.md
  docs/install.md
Due: saltgoat-review

fix: render jinja pillar for nginx cli
  modules/lib/nginx_pillar.py
  salt/pillar/nginx.sls
Due: salt-syntax-check, saltgoat-review

fix: support --site flag for nginx delete/toggle
  services/nginx.sh
Due: saltgoat-review

fix: streamline valkey check script
  salt/states/optional/magento-valkey-check.sls
  salt/states/optional/magento-valkey-check/valkey_check.php.jinja
Due: salt-syntax-check, saltgoat-review

fix(secret): add magento api sample
  salt/pillar/secret/README.md
  salt/pillar/secret/magento_api.sls.example
Due: none

chore: release v1.9.2 - 修改 19 个文件: README.md, docs/monitoring-playbook.md, modules/lib/backup_notify.py, modules/lib/notification.py, modules/lib/notification_queue.py 等
  README.md
  docs/changelog.md
  docs/monitoring-playbook.md
  modules/lib/backup_notify.py
  modules/lib/notification.py
  modules/lib/notification_queue.py
  modules/magetools/magento_api_watch.py
  modules/monitoring/daily_summary.py
  modules/monitoring/resource_alert.py
  salt/pillar/saltgoat.sls.sample
  salt/states/optional/notification-drain.sls
  salt/states/reactor/backup_notification.sls
  salt/states/templates/reactor_common.py.jinja
  salt/states/templates/reactor_logger.py.jinja
  salt/states/templates/restic-backup.sh.jinja
  salt/states/templates/security/fail2ban_watch.py
  salt/states/templates/security/lib/notification.py
  salt/top.sls
  scripts/notification-drain.py
  tests/test_notification_queue.py
Due: salt-syntax-check, saltgoat-review

chore: release v1.9.3 - 修改 15 个文件: README.md, docs/monitoring-playbook.md, modules/lib/backup_notifications.py, modules/lib/backup_notify.py, modules/lib/doctor.py 等
  README.md
  docs/changelog.md
  docs/monitoring-playbook.md
  modules/lib/backup_notifications.py
  modules/lib/backup_notify.py
  modules/lib/doctor.py
  modules/lib/notification_queue.py
  modules/lib/php_pool_helper.py
  modules/magetools/magento_api_watch.py
  modules/monitoring/daily_summary.py
  modules/monitoring/resource_alert.py
  salt/states/templates/restic-backup.sh.jinja
  salt/states/templates/security/fail2ban_watch.py
  salt/states/templates/service_autoheal.py.jinja
  scripts/notification-drain.py
  scripts/notification-test.py
Due: none

chore: release v1.9.4 - 修改 4 个文件: modules/lib/config_loader.py, modules/lib/logging_utils.py, modules/lib/php_pool_helper.py, modules/monitoring/daily_summary.py
  docs/changelog.md
  modules/lib/config_loader.py
  modules/lib/logging_utils.py
  modules/lib/php_pool_helper.py
  modules/monitoring/daily_summary.py
Due: none

v2.0.0: Dropbox restic migration
  docs/changelog.md
  saltgoat
Due: none

fix(reactor): use base64_b64encode
  salt/states/reactor/service_autoheal.sls
  salt/states/reactor/telegram_chatops.sls
Due: salt-syntax-check, saltgoat-review

Path conditions:
  salt-syntax-check: any of: \.sls$
  saltgoat-review: any of: \.(sh|sls|yml|yaml)$
