Repository EllistonDow/saltgoat: changes, and which pre-commit hooks are due for each by the changed paths.
All: salt-syntax-check, saltgoat-review

salt-syntax-check:
  name: Salt Syntax Check
  entry: salt-call --local state.show_sls
  language: system
  pass_filenames: false
  args:
  - --out=null
  always_run: false

saltgoat-review:
  name: SaltGoat Code Review
  entry: ./scripts/salt-code-review.sh
  language: system
  pass_filenames: true
  args:
  - -c
  - -v
  always_run: false

chore: release v1.5.5 - 修改 1 个文件: modules/lib/notification.py
  docs/changelog.md
  modules/lib/notification.py
Due: none

chore: release v1.5.6 - 修改 3 个文件: modules/pwa/install.sh, modules/pwa/overrides/packages/venia-concept/local-intercept.js, modules/pwa/workspaces/saltgoat-venia-extension/package.json
  docs/changelog.md
  modules/pwa/install.sh
  modules/pwa/overrides/packages/venia-concept/local-intercept.js
  modules/pwa/workspaces/saltgoat-venia-extension/package.json
Due: saltgoat-review

chore: release v1.5.7 - 修改 1 个文件: modules/pwa/templates/cms/pwa_home.html
  docs/changelog.md
  modules/pwa/templates/cms/pwa_home.html
Due: none

chore: release v1.5.8 - 修改 2 个文件: modules/pwa/templates/cms/pwa_home.html, modules/pwa/workspaces/saltgoat-venia-extension/src/components/HomeContent/index.js
  docs/changelog.md
  modules/pwa/templates/cms/pwa_home.html
  modules/pwa/workspaces/saltgoat-venia-extension/src/components/HomeContent/index.js
Due: none

chore: release v1.5.9 - 修改 1 个文件: modules/pwa/overrides/packages/venia-concept/local-intercept.js
  docs/changelog.md
  modules/pwa/overrides/packages/venia-concept/local-intercept.js
Due: none

chore: release v1.5.12 - 修改 2 个文件: modules/lib/pwa_helpers.py, modules/pwa/install.sh
  docs/changelog.md
  modules/lib/pwa_helpers.py
  modules/pwa/install.sh
Due: saltgoat-review

chore: release v1.5.26 - 修改 1 个文件: modules/pwa/overrides/packages/venia-ui/lib/components/Wishlist/AddToListButton/addToListButton.module.css
  docs/changelog.md
  modules/pwa/overrides/packages/venia-ui/lib/components/Wishlist/AddToListButton/addToListButton.module.css
Due: none

chore: release v1.5.27 - 修改 1 个文件: modules/pwa/overrides/packages/venia-ui/lib/RootComponents/Category/category.module.css
  docs/changelog.md
  modules/pwa/overrides/packages/venia-ui/lib/RootComponents/Category/category.module.css
Due: none

chore: release v1.6.6 - 修改 11 个文件: docs/pwa-project-guide.md, modules/lib/pwa_helpers.py, modules/pwa/install.sh, modules/pwa/lib/cms_apply_page.php, modules/pwa/lib/config.sh 等
  docs/changelog.md
  docs/pwa-project-guide.md
  modules/lib/pwa_helpers.py
  modules/pwa/install.sh
  modules/pwa/lib/cms_apply_page.php
  modules/pwa/lib/config.sh
  modules/pwa/lib/magento.sh
  modules/pwa/lib/pwa_studio.sh
  modules/pwa/lib/status.sh
  modules/pwa/overrides/packages/peregrine/lib/talons/CheckoutPage/useCheckoutPage.js
  modules/pwa/templates/cms/pwa_home.html
  salt/pillar/magento-pwa.sls.sample
Due: saltgoat-review

chore: release v1.6.7 - 修改 1 个文件: modules/pwa/overrides/packages/peregrine/lib/talons/OrderHistoryPage/orderHistoryPage.gql.js
  docs/changelog.md
  modules/pwa/overrides/packages/peregrine/lib/talons/OrderHistoryPage/orderHistoryPage.gql.js
Due: none

chore: release v1.6.9 - 修改 1 个文件: modules/pwa/overrides/packages/venia-ui/lib/components/MegaMenu/submenu.module.css
  docs/changelog.md
  modules/pwa/overrides/packages/venia-ui/lib/components/MegaMenu/submenu.module.css
Due: none

chore: release v1.6.12 - 修改 1 个文件: modules/pwa/overrides/packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.module.css
  docs/changelog.md
  modules/pwa/overrides/packages/venia-ui/lib/components/ProductFullDetail/productFullDetail.module.css
Due: none

chore: release v1.6.15 - 修改 1 个文件: modules/pwa/overrides/packages/venia-ui/lib/components/QuantityStepper/quantityStepper.module.css
  docs/changelog.md
  modules/pwa/overrides/packages/venia-ui/lib/components/QuantityStepper/quantityStepper.module.css
Due: none

chore: release v1.6.17 - 修改 1 个文件: modules/pwa/overrides/packages/venia-ui/lib/components/FilterModal/FilterList/filterList.module.css
  docs/changelog.md
  modules/pwa/overrides/packages/venia-ui/lib/components/FilterModal/FilterList/filterList.module.css
Due: none

chore: release v1.6.18 - 修改 1 个文件: modules/pwa/overrides/packages/venia-ui/lib/components/Header/header.module.css
  docs/changelog.md
  modules/pwa/overrides/packages/venia-ui/lib/components/Header/header.module.css
Due: none

chore: release v1.6.22 - 修改 1 个文件: modules/pwa/templates/cms/pwa_home.html
  docs/changelog.md
  modules/pwa/templates/cms/pwa_home.html
Due: none

chore: release v1.6.23 - 修改 2 个文件: modules/pwa/onepage.sh, modules/pwa/pwa.sh
  docs/changelog.md
  modules/pwa/onepage.sh
  modules/pwa/pwa.sh
Due: saltgoat-review

chore: release v1.6.24 - 修改 1 个文件: docs/pwa-project-guide.md
  docs/changelog.md
  docs/pwa-project-guide.md
Due: none

chore: release v1.6.27 - 修改 1 个文件: modules/pwa/overrides/packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/shippingInformation.module.css
  docs/changelog.md
  modules/pwa/overrides/packages/venia-ui/lib/components/CheckoutPage/ShippingInformation/shippingInformation.module.css
Due: none

chore: release v1.6.29 - 修改 9 个文件: modules/pwa/install.sh, modules/pwa/lib/cms_apply_page.php, modules/pwa/lib/config.sh, modules/pwa/lib/magento.sh, modules/pwa/templates/cms/pwa_home.html 等
  docs/changelog.md
  modules/pwa/install.sh
  modules/pwa/lib/cms_apply_page.php
  modules/pwa/lib/config.sh
  modules/pwa/lib/magento.sh
  modules/pwa/templates/cms/pwa_home.html
  modules/pwa/templates/cms/pwa_home_no_pb.html
  modules/pwa/workspaces/saltgoat-venia-extension/src/components/HomeContent/NebulaHome.js
  modules/pwa/workspaces/saltgoat-venia-extension/src/components/HomeContent/index.js
  modules/pwa/workspaces/saltgoat-venia-extension/src/styles/theme.global.module.css
Due: saltgoat-review

chore: release v1.7.2 - 修改 1 个文件: modules/pwa/overrides/packages/venia-ui/lib/components/MiniCart/miniCart.module.css
  docs/changelog.md
  modules/pwa/overrides/packages/venia-ui/lib/components/MiniCart/miniCart.module.css
Due: none

chore: release v1.7.3 - 修改 1 个文件: modules/pwa/templates/cms/pwa_home_no_pb.html
  docs/changelog.md
  modules/pwa/templates/cms/pwa_home_no_pb.html
Due: none

chore: release v1.7.5 - 修改 18 个文件: docs/magento-pwa.md, docs/pwa-project-guide.md, modules/lib/pwa_helpers.py, modules/pwa/install.sh, modules/pwa/lib/cms_apply_page.php 等
  docs/changelog.md
  docs/magento-pwa.md
  docs/pwa-project-guide.md
  modules/lib/pwa_helpers.py
  modules/pwa/install.sh
  modules/pwa/lib/cms_apply_page.php
  modules/pwa/lib/config.sh
  modules/pwa/lib/magento.sh
  modules/pwa/lib/pwa_studio.sh
  modules/pwa/overrides/packages/peregrine/lib/talons/CheckoutPage/useCheckoutPage.js
  modules/pwa/overrides/packages/peregrine/lib/util/htmlStringImgUrlConverter.js
  modules/pwa/overrides/packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/paymentMethods.js
  modules/pwa/overrides/packages/venia-ui/lib/components/CheckoutPage/PaymentInformation/paymentMethods.module.css
  modules/pwa/overrides/packages/venia-ui/lib/components/CheckoutPage/checkoutPage.js
  modules/pwa/workspaces/saltgoat-venia-extension/src/components/HomeContent/index.js
  modules/pwa/workspaces/saltgoat-venia-extension/src/hooks/useRichContentHtml.js
  salt/pillar/magento-pwa.sls.sample
  tests/test_checkout_overrides.py
  tests/test_pwa_helpers.py
Due: saltgoat-review

chore: release v1.7.6 - 修改 1 个文件: docs/pwa-home-sync.md
  docs/changelog.md
  docs/pwa-home-sync.md
Due: none

chore: release v1.7.10 - 修改 2 个文件: salt/pillar/magento-schedule.sls, salt/pillar/secret/restic.sls.example
  docs/changelog.md
  salt/pillar/magento-schedule.sls
  salt/pillar/secret/restic.sls.example
Due: salt-syntax-check, saltgoat-review

fix: valkey-setup tolerate legacy db ids
  modules/magetools/valkey-setup.sh
Due: saltgoat-review

feat: randomize valkey db pick + auto-clean own old dbs
  modules/magetools/valkey-setup.sh
Due: saltgoat-review

fix: dedupe backup telegram sends per tag-per-second
  modules/lib/backup_notify.py
Due: none

fix: dedupe backup notifications by tag+second+payload
  modules/lib/backup_notify.py
Due: none

fix: dedupe backup telegram across processes
  modules/lib/backup_notify.py
Due: none

chore: harden nginx modsecurity, otp/rabbitmq guards, salt roots
  core/install.sh
  salt/pillar/monitoring.sls
  salt/pillar/saltgoat.sls
  salt/states/core/otp.sls
  salt/states/core/salt-roots.sls
  salt/states/optional/rabbitmq.sls
  salt/states/pillar/secret-init.sls
  salt/states/services/nginx/init.sls
  salt/top.sls
Due: salt-syntax-check, saltgoat-review

chore: add nginx signed-by keyring
  salt/states/services/nginx/init.sls
Due: salt-syntax-check, saltgoat-review

chore: isolate pillar secrets with samples
  salt/pillar/magento-optimize.sls
  salt/pillar/magento-schedule.sls
  salt/pillar/magento-valkey.sls
  salt/pillar/nginx.sls
  salt/pillar/notifications.sls
  salt/pillar/notifications.sls.sample
  salt/pillar/salt-beacons.sls
  salt/pillar/salt-beacons.sls.sample
  salt/pillar/saltgoat.sls.sample
  salt/pillar/telegram-topics.sls
  salt/pillar/telegram-topics.sls.sample
  salt/states/pillar/secret-init.sls
Due: salt-syntax-check, saltgoat-review

chore: release 1.8.2
  docs/changelog.md
  saltgoat
Due: none

chore: auto-install salt master and write secrets to secret
  core/install.sh
  salt/pillar/saltgoat.sls
Due: salt-syntax-check, saltgoat-review

fix: summarize auto-enabled components
  core/install.sh
Due: saltgoat-review

feat: generate random default passwords
  core/install.sh
Due: saltgoat-review

Path conditions:
  salt-syntax-check: any of: \.sls$
  saltgoat-review: any of: \.(sh|sls|yml|yaml)$
