Repository EllistonDow/saltgoat: changes, and which pre-commit hooks are due for each by the changed paths.
All: salt-syntax-check, saltgoat-review

.pre-commit-config.yaml:

# SaltGoat Pre-commit 配置
# .pre-commit-config.yaml

repos:
  # Shell 脚本检查
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: ['--severity=warning']
        files: \.sh$

  # Shell 脚本格式化
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.8.0-2
    hooks:
      - id: shfmt
        args: ['-i', '4', '-ci', '-sr']
        files: \.sh$

  # YAML 文件检查
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        files: \.(yml|yaml)$
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict

  # Salt 特定检查
  - repo: local
    hooks:
      - id: salt-syntax-check
        name: Salt Syntax Check
        entry: salt-call --local state.show_sls
        language: system
        files: \.sls$
        pass_filenames: false
        args: ['--out=null']
        always_run: false

  # 自定义 Salt 项目检查
  - repo: local
    hooks:
      - id: saltgoat-review
        name: SaltGoat Code Review
        entry: ./scripts/salt-code-review.sh
        language: system
        files: \.(sh|sls|yml|yaml)$
        pass_filenames: true
        args: ['-c', '-v']
        always_run: false

docs: 更新 README 安装方式说明
  README.md
Due: none

feat: 添加 SaltGoat 别名设置功能
  README.md
  scripts/quick-alias.sh
  scripts/setup-aliases.sh
Due: saltgoat-review

feat: 添加 SaltGUI Web 界面支持和别名冲突检测
  README.md
  saltgoat
  scripts/setup-aliases.sh
  services/saltgui.sh
Due: saltgoat-review

fix: 修复 SaltGUI 安装和启动问题
  services/saltgui.sh
Due: saltgoat-review

chore(release): bump SaltGoat to v0.3.1\n\n- SaltGUI 集成改进（服务化、配置修复）\n- 安装与环境加载稳定性改进\n- README 同步版本与指引\n- 小问题修正与清理
  README.md
  saltgoat
  services/saltgui.sh
Due: saltgoat-review

chore(release): v0.3.2\n\n- 删除帮助中遗留的 mysql 段落，统一使用 database 模块\n- 同步 README 版本号
  README.md
  saltgoat
Due: none

chore(release): v0.3.3\n\n- MySQL 使用 Salt 原生改密（socket + pillar 驱动）\n- pillar_roots 集成与非阻断刷新\n- 安装流程：统一 sudo salt-call，增强幂等性\n- 清理 refresh_pillar 状态以避免噪音失败
  README.md
  core/install.sh
  core/system.sh
  salt/pillar/top.sls
  salt/states/core/mysql.sls
  saltgoat
Due: salt-syntax-check, saltgoat-review

fix(database): 彻底修复 MySQL 认证问题，使用原生命令替代 Salt 模块
  services/database.sh
Due: saltgoat-review

v0.3.6: 实现项目化备份路径和压缩备份功能
  env.example
  services/database.sh
Due: saltgoat-review

v0.3.7: 优化数据库还原功能
  saltgoat
  services/database.sh
Due: saltgoat-review

v0.3.8: 实现站点文件备份功能
  saltgoat
  services/backup.sh
Due: saltgoat-review

Release v0.4.2 - 修复小问题
  CHANGELOG.md
  README.md
  monitoring/system.sh
  saltgoat
  scripts/release.sh
  services/database.sh
  services/maintenance.sh
  services/nginx.sh
  services/performance.sh
  services/ssl.sh
  templates/README.md
Due: saltgoat-review

修复发布脚本中的WEBSERVER_README.md引用问题
  scripts/release.sh
Due: saltgoat-review

完善发布脚本，添加缺失的EOF和后续处理
  scripts/release.sh
Due: saltgoat-review

移除压缩包生成功能，只创建发布目录
  scripts/release.sh
Due: saltgoat-review

v0.4.3: 大幅改进Magento优化配置一致性
  CHANGELOG.md
  lib/help.sh
  salt/states/optional/magento-optimization.sls
  saltgoat
  services/auto-tune.sh
  services/benchmark.sh
  services/optimize.sh
  services/speedtest.sh
Due: salt-syntax-check, saltgoat-review

v0.4.4: 修复Nginx配置语法错误
  CHANGELOG.md
  salt/states/optional/magento-optimization.sls
  saltgoat
Due: salt-syntax-check, saltgoat-review

🚀 Release v0.5.0: 监控集成系统与防火墙自动配置
  CHANGELOG.md
  README.md
  core/install.sh
  lib/help.sh
  saltgoat
  scripts/code-review.sh
  services/monitor-integration.sh
  services/speedtest.sh
  services/state.sh
  tests/consistency-test.sh
Due: saltgoat-review

v0.5.1: 修复监控系统自动依赖安装
  CHANGELOG.md
  README.md
  saltgoat
  services/cost-optimized-monitoring.sh
  services/dynamic-monitoring.sh
  services/monitor-integration.sh
  services/monitoring-levels.sh
  services/smart-monitoring.sh
Due: saltgoat-review

v0.5.2: 修复配置一致性问题
  CHANGELOG.md
  INSTALL.md
  README.md
  core/install.sh
  salt/states/core/mysql.sls
  saltgoat
  tests/consistency-test.sh
Due: salt-syntax-check, saltgoat-review

v0.5.3: 邮件配置一致性改进
  CHANGELOG.md
  INSTALL.md
  README.md
  env.example
  salt/pillar/lemp.sls
  salt/states/optional/postfix.sls
  saltgoat
  services/grafana-email.sh
Due: salt-syntax-check, saltgoat-review

v0.5.4: 邮件配置功能增强
  CHANGELOG.md
  README.md
  core/system.sh
  env.example
  saltgoat
Due: saltgoat-review

v0.5.5: SaltGUI集成完善
  CHANGELOG.md
  README.md
  saltgoat
  services/saltgui.sh
Due: saltgoat-review

v0.5.6: 修复help功能
  CHANGELOG.md
  README.md
  saltgoat
Due: none

feat: 添加故障诊断和版本锁定功能
  CHANGELOG.md
  README.md
  saltgoat
  services/diagnose.sh
  services/version-lock.sh
Due: saltgoat-review

🚀 Release v0.6.0: 重要修复和新功能
  CHANGELOG.md
  README.md
  core/install.sh
  lib/help.sh
  modules/automation/README.md
  modules/automation/automation.sh
  modules/automation/reports.sh
  modules/diagnose/README.md
  modules/diagnose/diagnose.sh
  modules/maintenance/README.md
  modules/maintenance/backup.sh
  modules/maintenance/logs.sh
  modules/maintenance/maintenance.sh
  modules/monitoring/README.md
  modules/monitoring/cost-optimized-monitoring.sh
  modules/monitoring/dynamic-monitoring.sh
  modules/monitoring/grafana-email.sh
  modules/monitoring/monitor-integration.sh
  modules/monitoring/monitoring-levels.sh
  modules/monitoring/smart-monitoring.sh
  modules/optimization/README.md
  modules/optimization/auto-tune.sh
  modules/optimization/benchmark.sh
  modules/optimization/optimize.sh
  modules/optimization/speedtest.sh
  modules/profile/README.md
  modules/profile/performance-analysis.sh
  modules/security/README.md
  modules/security/security.sh
  modules/security/ssl.sh
  modules/version-lock/README.md
  modules/version-lock/version-lock.sh
  saltgoat
Due: saltgoat-review

🎨 更新品牌Logo为ASCII艺术字
  lib/help.sh
Due: saltgoat-review

🎨 简化品牌Logo设计
  lib/help.sh
Due: saltgoat-review

feat: 添加Magento工具集模块
  CHANGELOG.md
  README.md
  lib/help.sh
  modules/magetools/README.md
  modules/magetools/magetools.sh
  saltgoat
Due: saltgoat-review

v0.7.1: 新增 Valkey 自动续期功能
  lib/help.sh
  modules/adminer/adminer.sh
  modules/magetools/magetools.sh
  modules/magetools/valkey-renew.sh
  salt/states/core/nginx.conf
  salt/states/core/nginx.sls
  salt/states/core/php.sls
  salt/states/optional/magento-optimization.sls
  salt/states/optional/valkey.sls
  saltgoat
  services/nginx.sh
Due: salt-syntax-check, saltgoat-review

docs: 更新 CHANGELOG.md v0.7.1
  CHANGELOG.md
Due: none

v0.7.2: 修复 RabbitMQ 消费者配置和添加网站迁移检测功能
  lib/help.sh
  modules/magetools/magetools.sh
  modules/magetools/migrate-detect.sh
  modules/magetools/rabbitmq-check.sh
  modules/magetools/rabbitmq.sh
  saltgoat
  test_rabbitmq_check.sh
Due: saltgoat-review

feat: 发布 v0.8.1 - 权限管理优化和 OpenSearch 认证配置
  docs/CHANGELOG.md
  docs/MAGENTO_PERMISSIONS.md
  modules/magetools/magetools.sh
  modules/magetools/opensearch-auth.sh
  modules/magetools/rabbitmq.sh
  modules/magetools/valkey-renew.sh
  saltgoat
Due: saltgoat-review

feat: 完善 Magento 维护系统文档和功能
  docs/MAGENTO_MAINTENANCE.md
  docs/MAGENTO_MAINTENANCE_QUICK_REFERENCE.md
  modules/magetools/README.md
  modules/magetools/magento-cron.sh
  modules/magetools/magento-maintenance.sh
  modules/magetools/magento-salt-schedule.sh
  modules/magetools/magetools.sh
  salt/scripts/magento-maintenance-salt.sh
  salt/states/optional/magento-schedule.sls
  salt/states/scripts/magento-maintenance-salt.sh
Due: salt-syntax-check, saltgoat-review

v0.8.2: Nginx配置优化和网站修复
  docs/CHANGELOG.md
  saltgoat
Due: none

v0.8.3: Magento 2 转换脚本优化
  docs/CHANGELOG.md
  modules/magetools/magetools.sh
  saltgoat
  services/nginx.sh
Due: saltgoat-review

v0.9.0: ModSecurity 等级配置系统
  docs/CHANGELOG.md
  lib/help.sh
  modules/security/modsecurity-levels.sh
  saltgoat
  services/nginx.sh
Due: saltgoat-review

fix: 修复 Nginx 配置路径符号链接问题
  modules/security/modsecurity-levels.sh
  modules/security/modsecurity-salt.sh
  salt/states/core/nginx.sls
  salt/states/optional/modsecurity.sls
  salt/states/templates/modsecurity/modsecurity-level1.conf
  salt/states/templates/modsecurity/modsecurity-level10.conf
  salt/states/templates/modsecurity/modsecurity-level2.conf
  salt/states/templates/modsecurity/modsecurity-level3.conf
  salt/states/templates/modsecurity/modsecurity-level4.conf
  salt/states/templates/modsecurity/modsecurity-level5.conf
  salt/states/templates/modsecurity/modsecurity-level6.conf
  salt/states/templates/modsecurity/modsecurity-level7.conf
  salt/states/templates/modsecurity/modsecurity-level8.conf
  salt/states/templates/modsecurity/modsecurity-level9.conf
  scripts/test-nginx-consistency.sh
  services/nginx.sh
Due: salt-syntax-check, saltgoat-review
